<ion-header>
  <ion-toolbar color="dark" style="margin-right: 20px; height: 90%; text-align: center; border-bottom-left-radius: 30px; border-bottom-right-radius: 30px;">
    <ion-buttons slot="start">
      <ion-back-button color="danger"></ion-back-button>
    </ion-buttons>
    <h3><strong>{{filmler.original_title}}</strong></h3>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card id="card" style="text-align: center;">
    <button id="myBtn" style="margin-left: 80%; background-color: black; " (click)="butonclick(filmler.id)">
      <ion-icon color="danger" name="heart-half-outline" style="border-radius: 5px; background-color: white; position: relative; font-size: 40px; "></ion-icon>
    </button>
    <img src="https://image.tmdb.org/t/p/w500/{{filmler.poster_path}}"  >
    <ion-card-content>
      <div >
        <ion-row>
          <p style="font-size: 20px; ">Movie description:</p>
        </ion-row>
<br>
<br>
        {{filmler.overview}}
<br>
<br>
        <p id="p">Release date --> {{filmler.release_date}}</p>
        <p id="p">Vote Average --> {{filmler.vote_average}}</p>
      </div>
     
    </ion-card-content>
  </ion-card>

</ion-content>
