<ion-header>
  <ion-toolbar color="dark" style="height: 90%; text-align: center; border-bottom-left-radius: 30px; border-bottom-right-radius: 30px;">
    <h3><strong>Watchlist</strong></h3>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>


  <ion-row   *ngFor="let film of filmiki" style="background-color: black; border: 2px solid; padding: 3px; border-radius: 10px; margin-top: 5px; margin: 3%;" >
    <ion-col>
      <img style="height: 250px; width: 250px;" src="https://image.tmdb.org/t/p/w500/{{film.poster_path}}">
    </ion-col> 
    <ion-col>
      <ion-card-title color="light">{{film.title}}</ion-card-title>
      <ion-card-content style="margin-top: 8px; padding: 0%; color: white;">
        {{film.tagline}}
      </ion-card-content>
      <ion-label>
        <button style="background-color: transparent; margin-left: 65%; margin-top: 20%; " id="myBtn" (click)="remove(film.id)">
          <ion-icon color="danger" name="heart-dislike-sharp" style="background-color: transparent; border-radius: 5px; position: relative; font-size: 40px; "></ion-icon>
        </button>
      </ion-label>
    </ion-col>
    

  </ion-row>






</ion-content>













<ion-footer>
  <ion-toolbar color="light" style="height: 55px; color: red;">
    <ion-row >
      <ion-col style="border-right: 2px solid black;">
        <ion-icon name="home" id="icon" [routerLink]="['/folder']" routerLinkActive="router-link-active" ></ion-icon>
      </ion-col>

      <ion-col>
        <ion-icon name="heart" id="icon" ></ion-icon>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>